@import "../../variables.scss";

.Order {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 1.5em;
  .message {
    display: flex;
    align-items: center;
    text-align: center;
    flex-basis: 50%;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    @media (min-width: 768px) {
      width: 80%;
    }
  }
  .flex_item {
    display: flex;
    justify-content: space-between;
    &:last-child {
      justify-content: center;
    }
  }
  & button {
    @include large-button;
  }
}
