@import "../../variables.scss";

.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.cart_products {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 3em;
}

.cart_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  & > span {
    flex-basis: 20%;
  }
}

.cart_btn {
  height: 3em;
  font-weight: bold;
  font-size: 1.5em;
  border: 2px solid $text;
  border-radius: 8px;
  cursor: pointer;
  background: $light;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $light;
    background: $text;
    border-color: $light;
    & a {
      color: $light;
    }
  }
}

.btn-group {
  border-radius: 4px;
  font-weight: bold;
  & button {
    background-color: $light;
    border: 1px solid $blue;
    color: $white;
    cursor: pointer;
    float: left;
    padding: 0.5em;
    width: 3em;
    font-size: large;
    font-weight: bold;
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    &:not(:last-child) {
      border-right: none;
    }
  }
}
