@import "../../variables.scss";

.ProductCard {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  box-shadow: 1px 2px 4px $blue;
  border-radius: 4px;
  width: 40vh;
  height: 40vh;
  margin: 1em auto;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 2px 4px 8px $blue;
    transform: scale(1.05);
  }
  @media (min-width: 768px) {
    width: 30vw;
    height: 30vw;
  }
  @media (min-width: 1200px) {
    width: 18vw;
    height: 18vw;
  }
  img {
    width: 100%;
    background: $text;
  }
  .buy_button {
    display: flex;
    width: 100%;
    height: 100%;
    letter-spacing: 6px;
    overflow: hidden;
    white-space: nowrap;
    &__item {
      flex-basis: 50%;
      font-size: 2vh;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width: 1200px) {
        font-size: 1.2vw;
      }
      &:nth-child(1) {
        border-bottom-left-radius: 4px;
      }
      &:nth-child(2) {
        border-bottom-right-radius: 4px;
      }
    }
    & button {
      background: $text;
      color: $light;
      border: none;
      cursor: pointer;
    }
  }
}
