@import "../../variables.scss";

.Header {
  position: sticky;
  top: 0;
  background: $text;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid $green;
}
