@import "../../variables.scss";

.Header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  background: $blue;
  color: $blue_dark;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid $green;
}
