@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: $white;
  color: $text;
  font-weight: bold;
}

.container {
  display: flex;
  flex-grow: 1;
  padding: 0 5%;
  @media (min-width: 768px) {
    padding: 0 10%;
  }
  @media (min-width: 1200px) {
    padding: 0 20%;
  }
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
