@import "../../variables.scss";

.Pager {
  grid-area: pager;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  & .arrow_btn {
    display: flex;
    background-color: $light;
    cursor: pointer;
    border-radius: 14px;
    border: 2px solid $blue;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  & svg {
    & path {
      fill: $text;
    }
    height: 2em;
  }
  & .page_number {
    font-size: 1.5em;
    margin: 0 1em;
  }
}
